In [1]:
import pandas as pd
import os

In [2]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("arunjangir245/boston-housing-dataset")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\smc\.cache\kagglehub\datasets\arunjangir245\boston-housing-dataset\versions\2

In [3]:
file=os.listdir(path)
file

['BostonHousing.csv']

In [4]:
df=pd.read_csv(os.path.join(path, 'BostonHousing.csv'))

In [5]:
df.head(3)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7

In [6]:
df.columns

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

In [18]:
x=df.iloc[:,:-1]
y=df['medv']

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
x_train,x_test, y_train, y_test= train_test_split(x,y ,test_size=0.2)

In [22]:
x_train

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat
147,2.36862,0.0,19.58,0,0.871,4.926,95.7,1.4608,5,403,14.7,391.71,29.53
469,13.07510,0.0,18.10,0,0.580,5.713,56.7,2.8237,24,666,20.2,396.90,14.76
74,0.07896,0.0,12.83,0,0.437,6.273,6.0,4.2515,5,398,18.7,394.92,6.78
313,0.26938,0.0,9.90,0,0.544,6.266,82.8,3.2628,4,304,18.4,393.39,7.90
380,88.97620,0.0,18.10,0,0.671,6.968,91.9,1.4165,24,666,20.2,396.90,17.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...
421,7.02259,0.0,18.10,0,0.718,6.006,95.3,1.8746,24,666,20.2,319.98,15.70
164,2.24236,0.0,19.58,0,0.605,5.854,91.8,2.4220,5,403,14.7,395.11,11.64
428,7.36711,0.0,18.10,0,0.679,6.193,78.1,1.9356,24,666,20.2,96.73,21.52
390,6.96215,0.0,18.10,0,0.700,5.713,97.0,1.9265,24,666,20.2,394.43,17.11
436,14.42080,0.0,18.10,0,0.740,6.461,93.3,2.0026,24,666,20.2,27.49,18.05

In [23]:
x_test

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat
40,0.03359,75.0,2.95,0,0.428,7.024,15.8,5.4011,3,252,18.3,395.62,1.98
45,0.17142,0.0,6.91,0,0.448,5.682,33.8,5.1004,3,233,17.9,396.90,10.21
142,3.32105,0.0,19.58,1,0.871,5.403,100.0,1.3216,5,403,14.7,396.90,26.82
73,0.19539,0.0,10.81,0,0.413,6.245,6.2,5.2873,4,305,19.2,377.17,7.54
348,0.01501,80.0,2.01,0,0.435,6.635,29.7,8.3440,4,280,17.0,390.94,5.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,0.01096,55.0,2.25,0,0.389,6.453,31.9,7.3073,1,300,15.3,394.72,8.23
354,0.04301,80.0,1.91,0,0.413,5.663,21.9,10.5857,4,334,22.0,382.80,8.05
194,0.01439,60.0,2.93,0,0.401,6.604,18.8,6.2196,1,265,15.6,376.70,4.38
385,16.81180,0.0,18.10,0,0.700,5.277,98.1,1.4261,24,666,20.2,396.90,30.81
104,0.13960,0.0,8.56,0,0.520,6.167,90.0,2.4210,5,384,20.9,392.69,12.33

In [24]:
y_test

40     34.9
45     19.3
142    13.4
73     23.4
348    24.5
       ...
285    22.0
354    18.2
194    29.1
385     7.2
104    20.1
Name: medv, Length: 102, dtype: float64

In [25]:
y_train

147    14.6
469    20.1
74     24.1
313    21.6
380    10.4
       ...
421    14.2
164    22.7
428    11.0
390    15.1
436     9.6
Name: medv, Length: 404, dtype: float64

In [26]:
df.shape

(506, 14)

In [27]:
x_train.shape

(404, 13)

In [28]:
x_test.shape

(102, 13)

In [29]:
y_train.shape

(404,)

In [30]:
y_test.shape

(102,)